@model PartnerUp.Models.RegisterLoginViewModel

@{
    ViewBag.Title = "Contact";
}


<!-- slider Area Start-->
<div class="slider-area">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/img/dancers/backgroundDancers.jpg">
        <div class="container">
            <div class="row ">
                <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                    <div class="hero-caption">
                        <span>Contact</span>
                        <h2>Contact</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<div>
    <p>You dont have an account yet?</p>
    <p><a href="/Home/Register">Register here</a></p>
</div>
<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">@Model.TitleContact</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="/Home/Login" method="post" id="contactForm" novalidate="novalidate">
                    @Html.AntiForgeryToken()
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control valid" name="Email" id="email" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Enter email">
                            @Html.ValidationMessageFor(model => model.LoginModel.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control valid" name="Password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" placeholder="Enter password">
                            @Html.ValidationMessageFor(model => model.LoginModel.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" value="Send" class="button button-contactForm boxed-btn">Send</button>
                    </div>
                </form>
                @if (ViewBag.SuccessMessage != null)
                {
                    @:<div class="alert alert-success">@ViewBag.SuccessMessage</div>
                }

                @if (ViewBag.ErrorMessage != null)
                {
                    @:<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->