@model PartnerUp.Models.RegisterLoginViewModel

@{
    ViewBag.Title = "About";
}

<!-- slider Area Start-->
<div class="slider-area">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/img/dancers/backgroundDancers.jpg">
        <div class="container">
            <div class="row ">
                <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                    <div class="hero-caption">
                        <span>@Model.TitleRegister</span>
                        <h2>@Model.TitleRegister</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Register</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="" method="post" id="contactForm" novalidate="novalidate" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control valid" name="Name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                @Html.ValidationMessageFor(model => model.UserModel.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control valid" name="LastName" id="lastName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your lastname'" placeholder="Enter your lastname">
                                @Html.ValidationMessageFor(model => model.UserModel.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control valid" name="Email" id="email" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                @Html.ValidationMessageFor(model => model.UserModel.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control valid" name="Password" id="password" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Create a password'" placeholder="Create a password">
                                @Html.ValidationMessageFor(model => model.UserModel.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control valid" name="VerifyPassword" id="verifyPassword" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter again your password'" placeholder="Enter again your password">
                                @Html.ValidationMessageFor(model => model.UserModel.VerifyPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control valid" name="FilePicture" id="image" type="file" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Upload an image'" placeholder="Upload an image">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" value="SEND" class="button button-contactForm boxed-btn">Send</button>
                    </div>
                </form>
                @if (ViewBag.SuccessMessage != null)
                {
                    @:<div class="alert alert-success">@ViewBag.SuccessMessage</div>
                }

                @if (ViewBag.ErrorMessage != null)
                {
                    @:<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->